<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,td,th {border: black solid}
        table{border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Books Page</h1>

    <table>
        <tr>
            <th>Title</th>
            <th colspan="2">Author</th>
        </tr>
        <tr th:each="book:${books}">
            <td th:text="${book.title}"></td>
            <td colspan="2" th:text="${book.author.firstName} + ' ' + ${book.author.lastName}"></td>
        </tr>

    </table>

</body>
</html>